- content_for :css do
  = stylesheet_link_tag 'users'
.Content
  .Form-Container
    = form_with model: @user, local: true do |f|
      .Form-Container__Image
        %label
          .image-form
            %span.image-form--lineV
            %span.image-form--lineH
            %p.image-form--text 写真を選択
          = f.file_field :image, class: "image-form--input", id: "main-select"
      .Form-Container__Name
        = f.text_field :name, placeholder: "お名前", class: "text-form"
      .Form-Container__Date
        .Form-Container__Date--title 生年月日
        .date-field
          = f.date_select(:birth, with_css_classes:'date-field', prompt:{ year: "年", month: "月", day: "日"},use_month_numbers:true, start_year:Time.now.year, end_year:1900)
      .Form-Container__Submit
        = f.submit "新規登録", class: "button-blue"
